node_modules
dist
build
out
release
coverage
.turbo
.cxx
DerivedData
Pods
vendor/bundle
**/vendor/bundle
apps/mobile/android/app/.cxx
apps/mobile/android/app/build
apps/mobile/android/build
apps/mobile/ios/build
pnpm-lock.yaml
*.tsbuildinfo
